.navBar {
    background-color: #000000;
}

.navBar__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1.5rem;
}

.navBar__links {
    display: none;
}

.navBar__pesquisa {
    display: none;
}

.pesquisa {
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pesquisa {
    padding: .5rem 5rem .5rem .5rem;
    border: solid #000000 1px;
    text-align: start;
}

#pesquisa::placeholder {
    color: #6C757D;
}

.btnSearch {
    background-color: transparent;
    padding: .5rem 1rem;
    border: solid #000000 1px;
    font-weight: 700;
}
